/*===
Fonts
=== */
@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/iceland-v6-latin-regular.eot");
  src: local("Iceland"), local("Iceland-Regular"), url("fonts/iceland-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/iceland-v6-latin-regular.woff2") format("woff2"), url("fonts/iceland-v6-latin-regular.woff") format("woff"), url("fonts/iceland-v6-latin-regular.ttf") format("truetype"), url("fonts/iceland-v6-latin-regular.svg#Iceland") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/inconsolata-v16-latin-regular.eot");
  src: local("Inconsolata"), local("Inconsolata-Regular"), url("fonts/inconsolata-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/inconsolata-v16-latin-regular.woff2") format("woff2"), url("fonts/inconsolata-v16-latin-regular.woff") format("woff"), url("fonts/inconsolata-v16-latin-regular.ttf") format("truetype"), url("fonts/inconsolata-v16-latin-regular.svg#Inconsolata") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Astloch";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/astloch-v8-latin-regular.eot");
  src: local("Astloch"), local("Astloch-Regular"), url("fonts/astloch-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/astloch-v8-latin-regular.woff2") format("woff2"), url("fonts/astloch-v8-latin-regular.woff") format("woff"), url("fonts/astloch-v8-latin-regular.ttf") format("truetype"), url("fonts/astloch-v8-latin-regular.svg#Astloch") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "UnifrakturMaguntia";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/unifrakturmaguntia-v11-latin-regular.eot");
  src: local("UnifrakturMaguntia"), local("UnifrakturMaguntia-Regular"), url("fonts/unifrakturmaguntia-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/unifrakturmaguntia-v11-latin-regular.woff2") format("woff2"), url("fonts/unifrakturmaguntia-v11-latin-regular.woff") format("woff"), url("fonts/unifrakturmaguntia-v11-latin-regular.ttf") format("truetype"), url("fonts/unifrakturmaguntia-v11-latin-regular.svg#UnifrakturMaguntia") format("svg");
  /* Legacy iOS */ }
/* ================
 Default styling
================ */
body {
  background-color: black;
  max-width: 900px;
  margin: auto;
  margin-top: 10px; }

p {
  margin-top: 0px;
  font-size: 100%; }

hr {
  border: 0px;
  height: 1px;
  background-color: #e60073;
  border-color: #e60073; }

a {
  color: #e60073;
  text-decoration: none; }

a:hover {
  color: #a5427e; }

::selection {
  color: #D0003E;
  background: none; }

li {
  margin-bottom: 10px; }

blockquote {
  font-style: italic;
  border-left-color: #e60073;
  border-left-style: solid;
  border-left-width: 3px;
  padding: 1px 10px 1px 10px; }

h2 {
  color: #e60073;
  font-family: "Inconsolata", monospace; }

/* =======
Classes
======= */
.back-button:before {
  content: '('; }

.back-button:after {
  content: ')'; }

.bar-button:before {
  content: '('; }

.bar-button:after {
  content: ')'; }

.logo {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle; }

.header-div {
  display: flex;
  align-items: center;
  position: relative; }

.logo-div {
  margin-bottom: 3px; }

.banner {
  color: #e60073;
  text-align: center;
  font-size: 350%;
  font-family: "UnifrakturMaguntia", monospace;
  margin: auto 3% auto 3%;
  display: inline;
  vertical-align: top; }

.banner-text {
  color: #e60073;
  font-size: 150%;
  font-style: italic;
  font-family: "Astloch", cursive;
  margin: auto auto auto 2%;
  display: inline-block;
  vertical-align: middle; }

.rss-feed-div {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px; }

.top-bar {
  width: 80%;
  color: var(--main-color);
  margin: auto;
  margin-top: 1%;
  text-align: center; }

.bar-button, .tax-button, .back-button, .forward-button {
  color: #e60073;
  font-size: 175%;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  margin: auto 1% auto 1%; }

.tax-button, .back-button, .forward-button {
  font-size: 14px;
  margin: auto; }

.main-div {
  max-width: 950px;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.5rem; }

.post-div {
  display: none;
  color: #9D5F8D;
  font-family: "Inconsolata", monospace;
  margin-bottom: 50px; }

.icon {
  position: relative;
  top: 1.5px; }

.post-meta {
  color: grey;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px; }

.post-title, .post-title-link {
  font-family: "UnifrakturMaguntia", monospace;
  color: #e60073;
  font-size: 200%;
  text-decoration: none;
  vertical-align: middle; }

.sub-header {
  font-family: "UnifrakturMaguntia", monospace;
  color: #e60073;
  margin-top: 0px;
  margin-bottom: 5px; }

.post-content {
  color: #9D5F8D;
  font-family: "Inconsolata", monospace; }

.about-content {
  font-family: "Astloch", cursive;
  font-size: 1.4rem; }

.post-date {
  size: 10px; }

.post-bottom-div {
  border-top: 1px solid #9D5F8D; }

.footer-div {
  max-width: 950px;
  margin: auto;
  font-family: "Inconsolata", monospace;
  overflow: auto; }

.left-list {
  float: left;
  max-width: 400px;
  list-style-type: none;
  padding: 0px; }

.right-list {
  float: right;
  color: #9D5F8D;
  max-width: 400px;
  list-style-type: none;
  padding: 0px;
  text-align: right; }

.archive-list {
  color: #9D5F8D;
  font-family: "Inconsolata", monospace;
  list-style-type: none; }

.description-p {
  margin-top: 0px; }

.copyleft-div {
  text-align: center;
  background-color: black;
  font-family: "Inconsolata", monospace;
  padding: 1rem; }

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
  color: #e60073; }

.home-color {
  color: #e60073;
  border-color: #e60073; }

/*=======
IDs
=======*/
load-more {
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out; }

/* ===========
Responsiveness
============*/
@media screen and (max-width: 800px) {
  .header-div {
    display: block; }

  .banner-div {
    display: inline-block;
    align-items: center; }

  .banner {
    font-size: 10vw; }

  .banner-text {
    font-size: calc(12px + 1vw); }

  .logo {
    margin-left: 5px; }

  .bar-button {
    font-size: calc(12px + 2vw); }

  .left-list, .right-list {
    float: none;
    text-align: center;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
